:root {
  --dark-background: #1e1f29;
  --darker-background: #181920;
  --bright-text: #f8f8f2;
  --dim-text: #aaaaaa;

  --teal-link: #6bcce0;
  --green: #3ddf6c;
  --purple-hover: #a97be0;
  --orange: #e6a15d;
  --red: #e04444;
  --blue: #6272a4;
  --yellow: #e5e97c;
}
